[settings]
import_heading_stdlib = Standard Library
sections = FUTURE,STDLIB,THIRDPARTY,FIRSTPARTY,LOCALFOLDER
default_section = THIRDPARTY
line_length = 120
multi_line_output = 3
include_trailing_comma = True
